*{
    margin: 0px;
    padding: 0px;
}
body {

    
    background-color: lightgray;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 1100px;
    margin: 0px auto;
    border: 2px solid black;
}
header{
    background: white;
    height:  100px;
    width: 100%;
    margin:0px;
    text-align: center;
    line-height:  100px;
    border-bottom: 3px black dashed;
}
nav{ 
    background-color:lightblue;
    height: 50px;
    border: 1px solid black
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}
.clearfix{
    clear:both;
}
.informacion {
 background-color: black;
}
#content{
    float:left;
    width: 80%;
    background-color: green;
    min-height: 500px;
}
aside {
    float:left;
    width:20%;
    padding-top:40px;
    min-height: 460px;
    background: orange
    
    
}
footer{
   
    color: white;
    text-align: center;
    line-height: 50px;
    background-color: black;
}
.article{
    color: lightgray;  
    margin :3px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
   
}
.article:first-child {
padding-top: 20px;
border-top: 1px solid #eee;
}
.article h2{
    font-size: 25px;
}
